## Paraphrases Template

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

In [3]:
dt = pd.read_csv('/content/drive/My Drive/data/ihlt/test-gold/STS.input.SMTeuroparl.txt',sep='\t',header=None)

In [4]:
dt.head()

                                                   0                                                  1
0  The leaders have now been given a new chance a...  The leaders benefit aujourd' hui of a new luck...
1  Amendment No 7 proposes certain changes in the...  Amendment No 7 is proposing certain changes in...
2  Let me remind you that our allies include ferv...  I would like to remind you that among our alli...
3        The vote will take place today at 5.30 p.m.                 The vote will take place at 5.30pm
4  The fishermen are inactive, tired and disappoi...  The fishermen are inactive, tired and disappoi...

In [5]:
dt['gs'] = pd.read_csv('/content/drive/My Drive/data/ihlt/test-gold/STS.gs.SMTeuroparl.txt',sep='\t',header=None)

In [6]:
dt.shape

(459, 3)

In [7]:
dt.head()

                                                   0  ...    gs
0  The leaders have now been given a new chance a...  ...  4.50
1  Amendment No 7 proposes certain changes in the...  ...  5.00
2  Let me remind you that our allies include ferv...  ...  4.25
3        The vote will take place today at 5.30 p.m.  ...  4.50
4  The fishermen are inactive, tired and disappoi...  ...  5.00

[5 rows x 3 columns]

## TODO
1. Compute the Jaccard similarity between every paraphrase and add a column *jaccard* to *dt* variable.
2. Compute the pearson correlation as: <br>
```
from scipy.stats import pearsonr
pearsonr(dt['gs'], dt['jaccard'])[0]
```